{% extends 'base.html.twig' %}

{% block title %}ShelterLine{% endblock %}

{% block body %}
    <div class="w-full overflow-hidden">
        <h1 class="my-24 mt-56 text-7xl font-bold text-center shelter-font">
            {{ 'views.home.title'|trans }}
        </h1>
        <div class="flex flex-row flex-wrap">
            {% for genre in genres %}
                <div class="text-center ml-16 mr-5 mb-10 ">
                    <a href="{{ path('app_catalog', {'guid': genre.guid}) }}">
                        <img src="{{ asset('archive/0188CFAD-4AB7-7E96-8D1F-3BF59ACBBAB9.jpg') }}" alt="" class="rounded-3xl drop-shadow-xl object-cover w-96 h-96">
                        <span class="place-self-center text-8xl shelter-font ">{{ genre.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200">
        <div class="grid h-full max-w-lg grid-cols-4 mx-auto">
            <button type="button">
                <span>Home</span>
            </button>
        </div>
    </div>

{% endblock %}
