<form method="post" action="{{ path('app_animal_delete', {'id': animal.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}">
    <button class="btn btn-danger">{{ 'common.delete'|trans }}</button>
</form>
