{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
<div class="table-responsive border rounded border-primary p-3 m-5 text-center">
    <h1>{{ 'animals.add_title'|trans }}</h1>
    {{ include('admin/_form_import.html.twig') }}


</div>




{% endblock %}
