/*@import 'lightbox2/dist/css/lightbox.min.css';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

.shelter-green {
    color: #009241;
}

.shelter-text-green {
    color: #009241;
}
.shelter-size {
    font-size: 16px;
    font-weight: bold;
}

.shelter-font {
    font-family: 'Nunito', sans-serif;
}

.bg-shelter-green {
    background-color: #009241;
}

.shelter-border {
    border-color: #009241;
}

.shadow-inner-big { box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20) inset; }

html,
body {
    height: 100%;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

::file-selector-button {
    display: none;
}