@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.shelter-green {
    color: #009241;
    font-family: 'Nunito', sans-serif;
}
.bg-shelter-green {
    background-color: #009241;
}
html,
body {
    height: 100%;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

::file-selector-button {
    display: none;
}